<h1>
    <u>
        Made By
    </u>
<h1>
<div class="container">
    <p>
        <a href="https://www.facebook.com/p.munjal1297">Prateek Munjal</a>
    </p>
    <p>
        <a href="https://www.facebook.com/manoj.maurya.18">Manoj Maurya</a>
    </p>
</div>
<br>
<div class="footer">
    <a href="/rules/home" style="color:darkred"><h3>Go Back</h3></a>
</div>
<div class="footer">
    <font style="color:grey">
        <h3>
            For Any Suggestions Or Queries Mail Us At : helppm2014@gmail.com
        </h3>
    </font>
</div>

    
    
    
        