 <div class="row"  >
        <form role="form" action="/rules/law_insert"  method="post" data-remote="true">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="panel panel-default">
              <div class="panel-heading">For Admin use only</div>
                  <div class="panel-body">
                 <div class="form-group">
                    <label for="law">Create law</label>
                   <div class="col-lg-12">
                    <textarea class="form-control" placeholder="Enter law" id="rule" name="ruledata[law]"></textarea>
                      
                    </div>
                  
  
                  </div>              
                 <div class="form-group">
                    
                   <div class="col-lg-12">
                    
                      <input type="submit" class="btn btn-primary" id="submit"   value="add rule"/>
                    </div>
                 
                  </div>

              </div>
          </div>
   </form>
          </div>